<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new game</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Create game</h1>
<div class="wrap">
    <div class="battlefield">
        <div class="field field-player">
            <div id="field-player" class="shipDto"></div>
        </div>

    </div>
</div>

<div class="create-game">
    <button id="play" type="button" class="btn-create" onclick="create()">Create game</button>
</div>

<br>

<div class="join-random">
    <button id="join" type="button" class="btn-join" onclick="joinRandom()">Join a random game</button>
</div>

<br>

<p>
    <label for="gameId">Game id:</label>
    <input type="text" id="gameId" name="gameId">
</p>

<div class="join-id">
    <button id="join-id" type="button" class="btn-joinId" onclick="joinId()">Join a specific game</button>
</div>


<script>
    function create() {

        let xhr = new XMLHttpRequest();
        let url = '/game';
        //let userId = sessionStorage.getItem("id");

        xhr.open('POST', url, true);
        xhr.setRequestHeader("Authorization", sessionStorage.getItem("token"));
       // xhr.setRequestHeader("Content-Type", "application/json");

        alert("token " + sessionStorage.getItem("token"));

        alert("token " + sessionStorage.getItem("id"));

        //alert("userId " + userId);

        //xhr.setRequestHeader("Authorization", sessionStorage.getItem("token"));


        //alert("json " + data);
        xhr.send();
    }

    function joinId() {
        let gameId = document.querySelector("#gameId").value;
        let xhr = new XMLHttpRequest();
        //let userId = sessionStorage.getItem("id");
        let url = '/game/' + gameId + '/join';

        xhr.open('PATCH', url, true);
        xhr.setRequestHeader("Authorization", sessionStorage.getItem("token"));
        //xhr.setRequestHeader("Content-Type", "application/json");

        alert("token " + sessionStorage.getItem("token"));

        alert("token " + sessionStorage.getItem("id"));

        alert("gameId " + gameId);

       // alert("userId " + userId);

        //xhr.setRequestHeader("Authorization", sessionStorage.getItem("token"));


        //alert("json " + data);
        xhr.send();
    }

    function joinRandom() {
        let xhr = new XMLHttpRequest();
        let userId = sessionStorage.getItem("id");
        let url = '/game/join';

        xhr.open('PATCH', url, true);
        xhr.setRequestHeader("Authorization", sessionStorage.getItem("token"));
        xhr.setRequestHeader("Content-Type", "application/json");

        alert("token " + sessionStorage.getItem("token"));

        alert("token " + sessionStorage.getItem("id"));

        alert("userId " + userId);

        //xhr.setRequestHeader("Authorization", sessionStorage.getItem("token"));


        //alert("json " + data);
        xhr.send(userId);
    }
</script>

</body>
</html>