<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new game</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Create game</h1>
<div class="wrap">
    <div class="battlefield">
        <div class="play_field">
            <div id="field-player" class="shipDto"></div>
        </div>

    </div>
</div>

<div class="test" id="test_1" draggable="true"></div>

<div class="test_div">
    <table class="test_table" id="table_player1">
        <tr>
            <th id="cell_0_0" data-x="1000" data-y="0"></th>
            <th id="cell_0_1" data-x="0" data-y="1"></th>
            <th id="cell_0_2" data-x="0" data-y="2"></th>
            <th id="cell_0_3" data-x="0" data-y="3"></th>
            <th id="cell_0_4" data-x="0" data-y="4"></th>
        </tr>
        <tr>
            <th id="cell_1_0" data-x="1" data-y="0"></th>
            <th id="cell_1_1" data-x="1" data-y="1"></th>
            <th id="cell_1_2" data-x="1" data-y="2"></th>
            <th id="cell_1_3" data-x="1" data-y="3"></th>
            <th id="cell_1_4" data-x="1" data-y="4"></th>
        </tr>
        <tr>
            <th data-x="2" data-y="0"></th>
            <th data-x="2" data-y="1"></th>
            <th data-x="2" data-y="2"></th>
            <th data-x="2" data-y="3"></th>
            <th data-x="2" data-y="4"></th>
        </tr>
        <tr>
            <th data-x="3" data-y="0"></th>
            <th data-x="3" data-y="1"></th>
            <th data-x="3" data-y="2"></th>
            <th data-x="3" data-y="3"></th>
            <th data-x="3" data-y="4"></th>
        </tr>
        <tr>
            <th data-x="4" data-y="0"></th>
            <th data-x="4" data-y="1"></th>
            <th data-x="4" data-y="2"></th>
            <th data-x="4" data-y="3"></th>
            <th data-x="4" data-y="4"></th>
        </tr>
    </table>
</div>

<div class="penis" id="singleDeck1">
    <table class="singleDeckShip">
        <tr>
            <th>1</th>
        </tr>
    </table>
</div>

<script>
    //let ship = document.getElementById("singleDeck1");
    let ship = document.querySelector("#test_1");
    let currentDroppable = null;
    //let droppableBelow = null;
    let startX = null;
    let startY = null;
    //const player1Field = document.getElementById("table_player1");
    //let fuck = document.getElementsByClassName("test_table");

    ship.onmousedown = function (e) {
        //const FIELD = getCoords(fuck);


        let coords = getCoords(ship);
        startX = coords.left;
        startY = coords.top;
        let shiftX = e.pageX - coords.left;
        let shiftY = e.pageY - coords.top;
        //const curr = e.target;
        //alert("ueban " + coords);

        /*const e1 = e.target.closest(".ship");
        if (!e1) {
            return;
        }

        this.dragObject = {
            e1,
            parent: e1.parentElement,
            next: e1.nextElementSibling,

            downX: e.pageX,
            downY: e.pageY,

            left: e1.offsetLeft,
            top: e1.offsetTop,

            kx: 0,
            ky: 1
        };*/
        ship.style.position = "absolute";
        moveAt(e)
        document.body.appendChild(ship);
        ship.style.zIndex = "1000";

        function moveAt(e) {
            ship.style.left = e.pageX - shiftX + "px";
            ship.style.top = e.pageY - shiftY + "px";
        }

        document.onmousemove = function (e) {
            //if (!this.dragObject.elem){
            //    return;
            // }
            moveAt(e);
            ship.hidden = true;
            let elemBelow = document.elementFromPoint(e.clientX, e.clientY);
            let suka = null;
            ship.hidden = false;
            console.log("suka " + elemBelow.clientLeft);
            suka = document.getElementById(elemBelow.id);
            //moveCell(ship, suka);
            if (suka!==null) {
                console.log("vagina " + f(suka).top.valueOf());
                console.log("anus " + f(suka).left.valueOf());
                moveToCell(suka);
            }
            console.log("X " + e.clientX);
            console.log("Y " + e.clientY);
            let droppableBelow = elemBelow.closest(".test_table");
            console.log("pisun " + droppableBelow);
            if (currentDroppable !== droppableBelow) {
                if (currentDroppable) {
                    leaveDroppable(ship);
                }

                //moveToCell(elemBelow);
                currentDroppable = droppableBelow;

                if (currentDroppable) {
                    enterDroppable(ship);
                }
            }
        }

        ship.onmouseup = function () {
            document.onmousemove = null;
            ship.onmouseup = null;
            let x = document.getElementById("cell_0_0");
            let x1 = x.dataset.x;
            alert(currentDroppable + "penis ");
            //if (currentDroppable === droppableBelow) {
                moveToStart();
            //}
            alert("1_1 " + ship.style.left + " " + startX);
            alert("2_1 " + ship.style.top + " " + startY);
            //let cell = document.getElementById("test1").innerText;
            //let table = document.getElementsByClassName("test_table");
            //let cell = document.getElementsByTagName("battlefield_player")[0][0].innerHTML;
            alert("penis " + x1);
            alert("startX " + startX + "startY " + startY);
            alert("xuy " + currentDroppable);
            //alert("suka " + player1Field);
        }
    }

    ship.ondragstart = function() {
        return false;
    }

    function getCoords(elem) {
        let box = elem.getBoundingClientRect();
        return {
            top: box.top + pageYOffset,
            left: box.left + pageXOffset,
            bottom: box.bottom,
            right: box.right
        }
    }

    function f(elem) {
        let box = elem.getBoundingClientRect();
        return {
            top: box.top,
            left: box.left
        }
    }

    function enterDroppable(elem) {
        //elem.style.background = 'lightgreen';
        elem.style.backgroundColor = 'rgba(144,238,144,0.3)';
        //elem.style.opacity = '.3';
        elem.style.borderColor = 'green';
       // elem.style.border = 'blue';
    }

    function leaveDroppable(elem) {
        elem.style.background = '';
        //elem.style.ba
        elem.style.opacity = '1';
        elem.style.borderColor = 'darkcyan';
    }

    function moveToStart() {
        ship.style.left = startX + "px";
        ship.style.top = startY + "px";
        leaveDroppable(ship);
        alert("1 " + ship.style.left + " " + startX);
        alert("2 " + ship.style.top + " " + startY);
    }

    function moveCell(ship, cell) {
        ship.style.left = cell.style.left + "px";
        ship.style.top = cell.style.top + "px";
    }

    function moveToCell(element) {
        ship.style.left = f(element).left.valueOf() + "px";
        ship.style.top = f(element).top.valueOf() + "px";
    }

</script>

</body>
</html>