<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new game</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Create game</h1>
<div class="wrap">
    <div class="battlefield">
        <div class="play_field">
            <div id="field-player" class="shipDto"></div>
        </div>

    </div>
</div>

<div class="test" id="test_1" draggable="true" onmousedown="getId(this)"></div>

<div class="test_div">
    <table class="test_table" id="table_player1">
        <tr>
            <th id="cell_0_0" data-x="0" data-y="0"></th>
            <th id="cell_0_1" data-x="0" data-y="1"></th>
            <th id="cell_0_2" data-x="0" data-y="2"></th>
            <th id="cell_0_3" data-x="0" data-y="3"></th>
            <th id="cell_0_4" data-x="0" data-y="4"></th>
        </tr>
        <tr>
            <th id="cell_1_0" data-x="1" data-y="0"></th>
            <th id="cell_1_1" data-x="1" data-y="1"></th>
            <th id="cell_1_2" data-x="1" data-y="2"></th>
            <th id="cell_1_3" data-x="1" data-y="3"></th>
            <th id="cell_1_4" data-x="1" data-y="4"></th>
        </tr>
        <tr>
            <th id="cell_2_0" data-x="2" data-y="0"></th>
            <th id="cell_2_1" data-x="2" data-y="1"></th>
            <th id="cell_2_2" data-x="2" data-y="2"></th>
            <th id="cell_2_3" data-x="2" data-y="3"></th>
            <th id="cell_2_4" data-x="2" data-y="4"></th>
        </tr>
        <tr>
            <th id="cell_3_0" data-x="3" data-y="0"></th>
            <th id="cell_3_1" data-x="3" data-y="1"></th>
            <th id="cell_3_2" data-x="3" data-y="2"></th>
            <th id="cell_3_3" data-x="3" data-y="3"></th>
            <th id="cell_3_4" data-x="3" data-y="4"></th>
        </tr>
        <tr>
            <th id="cell_4_0" data-x="4" data-y="0"></th>
            <th id="cell_4_1" data-x="4" data-y="1"></th>
            <th id="cell_4_2" data-x="4" data-y="2"></th>
            <th id="cell_4_3" data-x="4" data-y="3"></th>
            <th id="cell_4_4" data-x="4" data-y="4"></th>
        </tr>
    </table>
</div>

<div class="penis" id="singleDeck1">
    <table class="singleDeckShip">
        <tr>
            <th>1</th>
        </tr>
    </table>
</div>

<div class="singleDeckButton" id="applySingleDeckButton" hidden>
    <button class="applySingleDeckShip" type="button" onclick="addSingleDeckShip(startShipCell)">Apply</button>
</div>

<script src="/js/moveAndAddSingleDeckShip.js"></script>

</body>
</html>