<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="login_page">
<div class="login_container">
    <div class="login_container_tab"></div>
        <div class="login_container_title">
            <div class="login_image"></div>
            <h2 class="login_h2">LOGIN</h2>
        </div>

    <div class="login_box">
        <form class="form-signing" method="post">
            <p class="field_login">
                <label for="username">USERNAME</label>
                <input type="text" id="username" name="username">
            </p>
            <p class="field_login">
                <label for="password">PASSWORD</label>
                <input type="password" id="password" name="password">
            </p>
            <button class="btn_login" type="button" onclick="onLogin()">Sign in</button>
        </form>
    </div>
</div>

<script>
    function onLogin() {
        let name = document.querySelector("#username").value;
        let pass = document.querySelector('#password').value;
        let xhr = new XMLHttpRequest();
        let url = '/auth/login';
        let user = {
            userName: name.toString(),
            password: pass.toString()
        }

        let data = JSON.stringify(user);
        xhr.open('POST', url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        //xhr.setRequestHeader("Authorization", sessionStorage.getItem("token"));


        //alert("json " + data);
        xhr.send(data);


        xhr.onreadystatechange = function () {
                 if (xhr.readyState === XMLHttpRequest.DONE) {
                     const respText = xhr.responseText;
                     let jData = JSON.parse(respText);
                     let token = jData["token"];
                     let id = jData["id"];
                     sessionStorage.setItem("token", token);
                     //sessionStorage.setItem("id", id);

                     alert("tokenInSession " + sessionStorage.getItem("token"));
                     alert("idInSession " + sessionStorage.getItem("id"));
                     window.location.replace("/auth/success");
                 }
             }
    }
</script>
</body>
</html>