<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="register_page">
<div class="register_container">
    <div class="register_container_tab"></div>
    <div class="register_container_title">
        <div class="register_image"></div>
        <h2 class="register_h2">REGISTER</h2>
    </div>

    <div class="register_box">
        <form class="form-register" method="post">
            <p class="field_register">
                <label for="username">USERNAME</label>
                <input type="text" id="username" name="userName">
            </p>
            <p class="field_register">
                <label for="password">PASSWORD</label>
                <input type="password" id="password" name="password">
            </p>
            <button class="btn_register" type="button" onclick="onSubmit()">Sign up</button>
        </form>
    </div>
</div>
<script>
    function onSubmit() {
        let name = document.querySelector("#username").value;
        let pass = document.querySelector('#password').value;
        let xhr = new XMLHttpRequest();
        let url = '/user';
        let user = {
            userName: name.toString(),
            password: pass.toString()
        }

        let data = JSON.stringify(user);
        xhr.open('POST', url, true);
        xhr.setRequestHeader("Content-Type", "application/json");


        //alert("json " + data);
        xhr.send(data);

        //on success
        // redirect /login
    }
</script>

</body>
</html>