<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div class="container">
    <form class="form-registration" action="user" method="post" enctype="json">
        <h2 class="form-signing-heading">Registration</h2>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="userName">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </p>
        <button class="btn bth-rg" type="submit">Registered</button>
    </form>
</div>

</body>
</html>