<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stat</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Welcome to stat game page</h1>

<div class="dropdown">
    <button>Rating</button>
    <div class="dropdown-content">
        <a href="/game/stat/win">Win</a>
        <a href="/game/stat/lose">Lose</a>
        <a href="/game/stat/game">Game</a>
    </div>
</div>

<script src="/js/getStatData.js"></script>
<script>

</script>

</body>
</html>