<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="battlefield_table_placeholder">
    <table class="battlefield_table">
        <tbody>
        <tr class="battlefield_row">
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="0" data-y="0"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="0" data-y="1"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="0" data-y="2"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="0" data-y="3"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="0" data-y="4"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="0" data-y="5"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="0" data-y="6"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="0" data-y="7"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="0" data-y="8"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="0" data-y="9"></div>
            </td>
        </tr>
        <tr class="battlefield_row">
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="1" data-y="0"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="1" data-y="1"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="1" data-y="2"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="1" data-y="3"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="1" data-y="4"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="1" data-y="5"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="1" data-y="6"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="1" data-y="7"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="1" data-y="8"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="1" data-y="9"></div>
            </td>
        </tr>
        <tr class="battlefield_row">
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="2" data-y="0"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="2" data-y="1"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="2" data-y="2"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="2" data-y="3"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="2" data-y="4"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="2" data-y="5"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="2" data-y="6"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="2" data-y="7"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="2" data-y="8"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="2" data-y="9"></div>
            </td>
        </tr>
        <tr class="battlefield_row">
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="3" data-y="0"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="3" data-y="1"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="3" data-y="2"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="3" data-y="3"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="3" data-y="4"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="3" data-y="5"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="3" data-y="6"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="3" data-y="7"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="3" data-y="8"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="3" data-y="9"></div>
            </td>
        </tr>
        <tr class="battlefield_row">
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="4" data-y="0"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="4" data-y="1"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="4" data-y="2"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="4" data-y="3"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="4" data-y="4"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="4" data-y="5"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="4" data-y="6"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="4" data-y="7"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="4" data-y="8"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="4" data-y="9"></div>
            </td>
        </tr>
        <tr class="battlefield_row">
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="5" data-y="0"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="5" data-y="1"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="5" data-y="2"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="5" data-y="3"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="5" data-y="4"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="5" data-y="5"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="5" data-y="6"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="5" data-y="7"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="5" data-y="8"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="5" data-y="9"></div>
            </td>
        </tr>
        <tr class="battlefield_row">
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="6" data-y="0"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="6" data-y="1"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="6" data-y="2"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="6" data-y="3"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="6" data-y="4"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="6" data-y="5"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="6" data-y="6"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="6" data-y="7"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="6" data-y="8"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="6" data-y="9"></div>
            </td>
        </tr>
        <tr class="battlefield_row">
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="7" data-y="0"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="7" data-y="1"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="7" data-y="2"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="7" data-y="3"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="7" data-y="4"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="7" data-y="5"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="7" data-y="6"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="7" data-y="7"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="7" data-y="8"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="7" data-y="9"></div>
            </td>
        </tr>
        <tr class="battlefield_row">
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="8" data-y="0"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="8" data-y="1"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="8" data-y="2"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="8" data-y="3"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="8" data-y="4"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="8" data-y="5"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="8" data-y="6"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="8" data-y="7"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="8" data-y="8"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="8" data-y="9"></div>
            </td>
        </tr>
        <tr class="battlefield_row">
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="9" data-y="0"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="9" data-y="1"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="9" data-y="2"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="9" data-y="3"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="9" data-y="4"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="9" data-y="5"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="9" data-y="6"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="9" data-y="7"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="9" data-y="8"></div>
            </td>
            <td class="battlefield_cell battlefield_cell_empty">
                <div class="battlefield_cell_content" data-x="9" data-y="9"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>