<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Sea Battle Game</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="welcome_page">
<header class="header">
    <div class="nav_container">
        <nav class="nav">
            <a class="nav_link" href="/auth/login">Sign in</a>
            <a class="nav_link" href="/register">Sign up</a>
        </nav>
    </div>
</header>

<div class="welcome">
    <div class="welcome_inner">
        <h1 class="welcome_title">Welcome to Sea Battle</h1>
    </div>
</div>


</body>
</html>